<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>
        org.springframework.web.filter.CharacterEncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FlowController</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlowController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>saveDataflowJobsNew</web-resource-name>
      <url-pattern>/dataflow/saveDataflowJobsNew</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>saveDataflowJobsNewQueue</web-resource-name>
      <url-pattern>/dataflow/callTaskQueuetoFetchDataflowStatsNew</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>processhistorytable</web-resource-name>
      <url-pattern>/commonqueue/ProcessHistoryTable</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>processhistorytablemonth</web-resource-name>
      <url-pattern>/commonqueue/ProcessHistoryTableMonth</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>saveairflows</web-resource-name>
      <url-pattern>/airflow/saveAirflowJobs</url-pattern>
    </web-resource-collection>
  </security-constraint>
   <security-constraint>
    <web-resource-collection>
      <web-resource-name>triigerciti</web-resource-name>
      <url-pattern>/citi/scanandtriggerstoredproc</url-pattern>
    </web-resource-collection>
  </security-constraint>
     <security-constraint>
    <web-resource-collection>
      <web-resource-name>triigercitiqueue</web-resource-name>
      <url-pattern>/citi/triggerSchduledTaskQueue</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>dataflowsync</web-resource-name>
      <url-pattern>/airflow/callTaskQueuetoFetchAirflowStats</url-pattern>
    </web-resource-collection>
  </security-constraint>
   <security-constraint>
    <web-resource-collection>
      <web-resource-name>calltaskqueuefortaskinstance</web-resource-name>
      <url-pattern>/airflow/callTaskQueuetoFetchAirflowTaskInstance</url-pattern>
    </web-resource-collection>
  </security-constraint>
   <security-constraint>
    <web-resource-collection>
      <web-resource-name>saveairflowtaskinstance</web-resource-name>
      <url-pattern>/airflow/saveAirflowTaskInstance</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>updatedagrunfailedstatus</web-resource-name>
      <url-pattern>/airflow/updateDagRunFailedStatus</url-pattern>
    </web-resource-collection>
  </security-constraint>
<security-constraint>
    <web-resource-collection>
      <web-resource-name>sendMailAlertforFailedJobs</web-resource-name>
      <url-pattern>/airflow/sendMailAlertforFailedJobs</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>sendMailAlert</web-resource-name>
      <url-pattern>/airflow/sendMailAlert</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>sendMailAlertforFailedJobsdf</web-resource-name>
      <url-pattern>/dataflow/sendMailAlertforFailedJobs</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>sendMailAlertdf</web-resource-name>
      <url-pattern>/dataflow/sendMailAlert</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>avarageTimeCalculator</web-resource-name>
      <url-pattern>/avarageTimeCalculator/calculate</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>sendlongrunningemail</web-resource-name>
      <url-pattern>/avarageTimeCalculator/sendlongrunningemail</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DataFlowMail</web-resource-name>
      <url-pattern>/mailtemplate.vm</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AirFlowMail</web-resource-name>
      <url-pattern>/airflowtemplate.vm</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>LongRunning</web-resource-name>
      <url-pattern>/runninglong.vm</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>LongRunning</web-resource-name>
      <url-pattern>/task.vm</url-pattern>
    </web-resource-collection>
  </security-constraint>
   <security-constraint>
    <web-resource-collection>
      <web-resource-name>datacorrection</web-resource-name>
      <url-pattern>/airflow/datacorrection</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>correctairflow</web-resource-name>
      <url-pattern>/airflow/correctData</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>processmonthlyhistoryaf</web-resource-name>
      <url-pattern>/airflow/processmonthlyhistory</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>processmonthlyhistorydf</web-resource-name>
      <url-pattern>/dataflow/processmonthlyhistory</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>triggerDataflowForComposer</web-resource-name>
      <url-pattern>/composer/triggerDataflowForComposer</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>callTaskTriggerComposer</web-resource-name>
      <url-pattern>/composer/callTaskTriggerComposer</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>sendmailQueue</web-resource-name>
      <url-pattern>/sendmailQueue/sendMail</url-pattern>
    </web-resource-collection>
  </security-constraint> 
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>notificationicon</web-resource-name>
      <url-pattern>*.png</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/FlowController-servlet.xml</param-value>
  </context-param>
</web-app>